img {
  max-width: 100%;
  height: auto;
}

.govuk-main-wrapper {
  padding-top: 0;
}

.gaad-header {
  padding: 20px;
  background-color: #ab2de0;
}
.gaad-header-main {
  background-color: #ffdd00;
  border-bottom: 5px solid #0b0c0c;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 100;
}
.gaad-header-sub {
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 100;
}

.gaad-section {
  border-top: 1px solid #b1b4b6;
  padding: 20px 0;
}

.gaad-grid-grey {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
}
.gaad-grid-grey.height200 {
  min-height: 200px;
}
.gaad-grid-grey p {
  margin-bottom: 0;
}
.gaad-grid-grey:hover {
  background-color:  #ffdd00;
}
.gaad-grid-grey:hover a {
  color: #0b0c0c;
}
.gaad-grid-grey:hover a:focus {
  background-color: #ffffff;
}
.gaad-grid-grey a:focus h3 {
  outline: 3px solid transparent;
  background-color: #fd0;
  -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}
.gaad-grid-grey:hover a:focus h3 {
  background-color: #ffffff;
}

.hmrc-banner {
  padding: 10px 0 8px;
  position: relative;
}
.hmrc-banner span {
  display: table-cell;
  vertical-align: baseline;
}
.organisation-logo {
  padding: 3px 0 3px 30px;
  background: url("../images/crests/hmrc_crest_18px.png") 5px center no-repeat;
  background-size: auto 20px;
  border-left: 2px solid #009390;
}
.organisation-logo p {
  display: table;
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font: 13px/16px Helvetica, Arial;
  line-height: 1.14286;
}
@media (min-width: 641px) {
  .hmrc-banner {
    padding-bottom: 10px;
  }
  .organisation-logo {
    background-size: auto 26px;
    padding: 3px 0 3px 38px;
  }
  .organisation-logo p {
    font: 18px/22px Helvetica, Arial;
    line-height: 1.25;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo {
    background-image: url("../images/crests/hmrc_crest_18px_x2.png");
  }
}