:root {
  /*branding 2019 colour #462753*/
  --main-bg-color: #ffdd00;  
}

img {
  max-width: 100%;
  height: auto;
}

.govuk-main-wrapper {
  padding-top: 0;
}

.gaad-header {
  position: relative;
  z-index: 0;
  padding: 15px 0;
  background-color: var(--main-bg-color);
}
.gaad-header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: 0;
  border-left: 100vw solid var(--main-bg-color);
  box-shadow: 100vw 0 0 var(--main-bg-color);
  z-index: -1;
}
.gaad-h1 {
  padding: 10px;
  margin-bottom: 0;
}
.gaad-subheader {
  background-color: #ab2de0;
  padding: 25px;
}
.govuk-body-l, .gaad-link {
  color: #fff;
}

.gaad-section {
  border-top: 1px solid #b1b4b6;
  padding: 20px 0;
}

.gaad-grid-grey {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
}
.gaad-grid-grey p {
  margin-bottom: 0;
}
.gaad-grid-grey:hover {
  background-color: var(--main-bg-color);
}
.gaad-grid-grey:hover a:focus {
  background-color: #fff;
}
/*.gaad-grid-grey:hover h3, .gaad-grid-grey:hover li, .gaad-grid-grey:hover p, .gaad-grid-grey:hover a {
  color: #fff;
}*/

.hmrc-banner {
  padding: 10px 0 8px;
  position: relative;
}
.hmrc-banner span {
  display: table-cell;
  vertical-align: baseline;
}
.organisation-logo {
  padding: 3px 0 3px 30px;
  background: url("../images/crests/hmrc_crest_18px.png") 5px center no-repeat;
  background-size: auto 20px;
  border-left: 2px solid #009390;
}
.organisation-logo p {
  display: table;
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font: 13px/16px Helvetica, Arial;
  line-height: 1.14286;
}
@media (min-width: 641px) {
  .hmrc-banner {
    padding-bottom: 10px;
  }
  .organisation-logo {
    background-size: auto 26px;
    padding: 3px 0 3px 38px;
  }
  .organisation-logo p {
    font: 18px/22px Helvetica, Arial;
    line-height: 1.25;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .organisation-logo {
    background-image: url("../images/crests/hmrc_crest_18px_x2.png");
  }
}